
body {
    font-family: 'montserrat';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    margin: 8px;
}
.hidden {
display: none;
}

header {
display: flex;
flex-direction: row;
vertical-align: middle;
margin: 0 auto;
max-width: 1200px;
width: 90%;
padding-top: 1.75em;
padding-bottom: 1.75em;
flex: 0 0 auto;
}

header {
    display: block;
}

nav {
display: flex;
flex-direction: row;
align-items: center;
flex-basis: auto;
}

.nav.list1 {
display: flex;
margin: 0 0 0 auto;
flex-basis: auto;
align-items: center;
}

.nava {
display: flex;
margin: 0;
padding: 4px;
align-items: center;
}

.nava li:not(:first-of-type){
margin-left: 32px;
}


ul.nava li {
display: inline;
margin-left: 66px;

}


ul.not_nav li{
display: inline;
}


.not_nav_journal {
padding: 0 1rem 0 .8rem;
margin: 0;
border-right: 1px solid #000000;
}

.not_nav_search {
padding: 0 2.5rem 0 .8rem;
}

.not_nav_login {
padding: 0 1rem 0 .8rem;
margin: 0;
border-right: 1px solid #000000;
}

.not_nav_cart {
padding: 0 0 0 .8rem;
}

.photo {
width: 100%
}

.analog.active { display: flex; }


.analog_text {
color:white;
font-size: 18px;
position: absolute;
background-color: rgba(165, 42, 42, 0.705);
display: flex;
flex-direction: column;
left: 7%;
bottom: 12%;
}


.analog_text1_border-bottom {
display: inline-block;
color: white;
position: absolute;
font-size: 15px;
text-decoration: none;
margin-right: auto;
background-color: rgba(165, 42, 42, 0.705);;
margin-top: 2em;
}


.strelka {
margin-top: 0.2em;
}

hr {
margin-top: 0.3em;
width: 97px;;
color: white;
background-color: white;
}

.bouton {
background-color: black;
color: white;
padding: 6px 16px;
text-align: center;
border: none;
font-size: 12px;
}

.bouton:active {
background: white;
color: black;
}

.firstblock {
margin-right: 20px;
align-items: center;
}

a {
color: black;
text-decoration: none;
}

.analog_text1_border-bottom a {
color: white;
}

.strelka a {
color: white;
}



.analog_text a {
color: white;
}

ul.catalogue_categories li {
display: inline;
margin-right: 55px;

}

.catalogue_categories {
display: flex;
text-align: center;
justify-content: center;
margin-top: 40px;
margin-bottom: 69px;
margin-right: 0;
}


.cat a {
color: #B3B3B3;
}

.cat a:focus {
border-bottom: 1px solid black;
padding-bottom: 13px;
color: black;
}

.cat a:hover {
border-bottom: 1px solid black;
padding-bottom: 13px;
color: black;
transition: .2s;
}

.images {
display: flex;
flex-wrap: wrap;
margin: 0 auto;
gap: 20px;
justify-content: space-between;
max-width: 1160px;
}

.image_element {
margin: 0 0 10px;

}


.product_name {
padding: 4px 0 4px;
font-size: 15px;
}

.product_price {
font-size: 13px;
margin-top: 0;
}

.discount {
margin-left: 5px;
color: red;
}

.extra_name {
margin-left: 4px;
color: var(--gray);
}

.line-through {
text-decoration: line-through;
}

.gray {
margin-left: 3px;
color: var(--gray);
font-size: 14px;
}

.extra_name_white {
margin: 0;
color: var(--gray);
}


.for_button {
margin-top: 97px;
margin-bottom: 172px;
}

.bouton1 {
display: inline-block;
background-color: black;
color: white;
padding: 12px 60px;
border: none;
font-size: 20px;
justify-content: center;
margin-left: 40.65%;
margin-top: 112px;
margin-bottom: 171px;
transition: .2s;
}

.bouton1:hover {
background-color: rgb(58, 58, 58);
}


.finalstock {
background-color: var(--for_flex_and_photo);
display: flex;
justify-content: center;
padding-top: 6em;
padding-bottom: 6em;
}

.finalstock_img {
display: flex;
}

.link_arrow {
display: inline-block;
color: black;
font-size: 15px;
margin-left: 5em;
margin-bottom: 2em;
text-decoration: none;
margin-right: auto;
margin-top: 3em;
}

.finalstock_text {
font-size: 36px;
width: 208px;
line-height: 1.2;
margin-left: 2em;
margin-top: 2em;
margin-right: 2em;

}

.textblock_finalstock {
background-color: white;

}

.wrapper {
display: flex;
background-color: var(--creamy_white);
justify-content: center;
flex-direction: column;
padding-bottom: 4em;

}

.mission{
display: flex;
font-size: 30px;
text-align: center;
margin-top: 4em;
margin-bottom: 4em;
font-style: normal;
justify-content: center;
}

.real_wrapper {
display: flex;
flex-wrap: wrap;
gap: 84px;
justify-content: center;
}

.link_arrow1 {
display: inline-block;
flex-direction: column;
color: black;
font-size: 15px;
margin-bottom: 2em;
text-decoration: none;
margin-right: 0;
margin-top: 0.4em;
}

.text_header {
font-size: 14px;
border-bottom: 1px solid black;
width: 97px;
padding: 5px 0px 4px;
}

.text_header_women {
font-size: 14px;
border-bottom: 1px solid black;
width: 118px;
padding: 5px 0px 4px;
}

.objects {
width: 1130px;
}

.gather {
background-color: var(--for_flex_and_photo);
display: flex;
justify-content: center;
padding-top: 6em;
padding-bottom: 6em;
}



.textblock_gather {
background-color: white;
}


.gather_header {
margin-left: 1.95em;
font-weight: 200;
font-size: 37px;
margin-top: 2em;
}
.gather_txt2 {
font-size: 15px;
margin-top: 2em;
margin-right: 5em;
margin-left: 5em;
margin-bottom: 2em;
line-height: 22px;
width: 209px;
color: var(--extra_black)

}


.design {
display: flex;
justify-content: center;
align-items: center;
}

.design_img {
display: flex;
position: relative;
width: 100%;
}

.design_txt {
position: absolute;
color: white;
font-size: 35px;
text-align: center;
line-height: 59px;
background-color: #a8a8a898;
}

.link_arrow2 {
display: inline-block;
position: absolute;
flex-direction: column;
color: white;
font-size: 15px;
margin-bottom: 2em;
text-decoration: none;
margin-right: 0;
margin-top: 12.4em;
text-align: center;
background-color: #a8a8a898;

}



.stay_in_loop {
display: flex;
flex-direction: column;
background-color: var(--for_flex_and_photo);
justify-content: center;
align-items: center;
padding-top: 6em;
padding-bottom: 8em;
}

.email_type {
display: flex;
width: 338px;
height: 46px;
font-size: 16px;
padding: 6px 0 4px 10px;
border: 1px solid black;
background: var(--bg_button);
color: var(--txt_button);
}



.email_button {
display: flex;
width: 66px;
height: 46px;
font-size: 16px;
border: 1px solid black;
background: var(--bg_button);
align-items: center;
justify-content: center;
transition: .2s;

}

.email_button:hover {
background: var(--bg_button_hover);
color: white;
}

.stay_in_loop_txt {
display: flex;
font-size: 34px;
text-align: center;
margin-bottom: 25px;
}

.stay_in_loop_txt2 {
display: flex;
font-size: 16px;
text-align: center;
margin-bottom: 50px;
line-height: 22px;
}

.full_bouton {
display: flex;
align-items:

center;
justify-content: center;
}

footer {
display: flex;
margin-right: 140px;
margin-left: 140px;
padding-bottom: 3.55em;

}

.footer_list {
display: flex;
list-style-type: none;
flex-direction: column;
font-size: 15px;
margin-top: 85px;
}

.first_li {
font-weight: bold;

}

.up {
margin-left: 158px;
}



.footer_list li {
margin-bottom: 15px;
}


.social_media {
display: flex;
margin-top: 40px;
margin-left: 80px;


}

.logo {
margin-right: 10px;
width: 30px;
height: 30px;
}

.logo1 {
width: 30px;
height: 30px;
}

.logo_and_copyrights {
text-align: right;
width: 310px;
font-size: 15px;

}

.up {
margin-top: 22px;
line-height: 21px;

}
.ugmonk_logo {
width: 55px;
height: 88px;
float: right;
margin-left: 24px;
}

.right_part {
display: flex;
margin-top: 85px;
margin-left: auto;
flex-direction: column;
align-items: flex-end;
}

.form_body {
font-family: 'Roboto', sans-serif;
display: flex;
flex-direction: column;
}

.form_main {
display: flex;
flex-direction: column;
flex: 1 0 auto;
padding: 2em 0;
}

.form_form {
display: flex;
width: 100%;
justify-content: center;
}

.form_input {
padding: 1em 0 1em;
width: 100%;
color: rgb(80, 78, 78);
font-size: 14px;
line-height: 16px;
border: 2px solid #E9F2FF;
border-radius: 5px;
padding-left: 1em;
}



select {
padding: 1em 0 1em;
width: 100%;
color: rgb(80, 78, 78);
font-size: 14px;
line-height: 16px;
border: 2px solid #E9F2FF;
border-radius: 5px;
padding-left: 0.75em;
}

.register-form-container {
position: relative;
max-width: 415px;
width: 100%;
background: #FFFFFF;
box-shadow: 0px 6px 50px rgba(217, 229, 255, 0.7);
border-radius: 20px;
padding: 38px 30px;
}

.form_button {
width: 100%;
font-weight: bold;
font-size: 14px;
display:block;
height: 45px;
background: var(--blue);
border-radius: 5px;
color:#fff;
text-transform: uppercase;
text-align: center;
line-height: 45px;
border: none;
transition: .2s;
}
.form_button:hover {
background-color: var(--blue_hover);
}

.form-field {
margin-bottom: 13px;
}

.form-field:focus-within label {
color:var(--blue);
transition: .3s;
}


input[type="checkbox"]:checked ~ span {
color: var(--blue);
transition: .2s;
}


.form-field_checkboxes {
margin-bottom: 10px;
}

.checkboxes_list {
margin-top: 0.4em;
}

ul.checkboxes_list li {
list-style-type: none;
display: inline;
}

.checkboxes_list li:not(:first-of-type){
margin-left: 10px;
}

.form-fields {
list-style-type: none;
}

.reset_form {
margin-top: 1em;
width: 100%;
font-weight: bold;
font-size: 14px;
display:block;
height: 45px;
background: var(--red);
border-radius: 5px;
color:#fff;
text-transform: uppercase;
text-align: center;
line-height: 45px;
border: none;
transition: .2s;
}


fieldset {
font-size: 14px;
border-radius: 8px;
margin-bottom: 13px;
padding-top: 15px;
}

:required {
background: black;
}

legend {
border: 1px solid black;
padding: 1em;
border-radius: 20px;
text-align: center;
}
.reset_form:hover {
background: var(--red_hover);
}

.reset_form:disabled {
opacity: 0.5;
background-color: var(--red);
}

.pseudoclasses_n_elements {
margin-top: 3em;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

dd {
margin-bottom: 1em;

}

dl {
margin-top: 1.5em;
}

dd::first-letter {
font-size: 200%;
color: red;
}

dt > input:checked + label {
text-decoration: line-through;
}

.required_star {
margin-top: 1em;
text-align: center;
}

dd::after {
content: "ðŸ›ˆ"
}

dt:nth-of-type(odd) {
color: var(--gray);
}

dt:nth-of-type(even) {
color: var(--orange);
}

.loader-wrapper {
box-sizing: border-box;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: white;
display:flex;
justify-content: center;
align-items: center;
border: 1px

solid black;
}

.loader {
display: inline-block;
width: 30px;
height: 30px;
position: relative;
border: 4px solid black;
animation: loader 2s infinite ease;
}

.loader-inner {
vertical-align: top;
display: inline-block;
width: 100%;
background-color: black;
animation: loader-inner 2s infinite ease-in;
}

.active .loader-wrapper {
opacity: 0;
transition: opacity 0.4s ease;
}

@keyframes loader {
0% { transform: rotate(0deg);}
25% { transform: rotate(180deg);}
50% { transform: rotate(180deg);}
75% { transform: rotate(360deg);}
100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
0% { height: 0%;}
25% { height: 0%;}
50% { height: 100%;}
75% { height: 100%;}
100% { height: 0%;}
}

::placeholder {
color: rgb(80, 78, 78);
}


.linear_gradient {
background: linear-gradient(to top, #ff2f00, #ff6a00);
width: 10em;
padding: 1em;
}

.conical_gradient {
background: conic-gradient(white, black, white);
width: 10em;
padding: 1em;
}

.radial_gradient {
background: radial-gradient(white, #a246db);
width: 10em;
padding: 1em;
}

.gradients {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin-top: 3em;
}

.twod_transforms {
margin-top: 2em;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin-top: 3em;
}

.threed_transforms {
margin-top: 2em;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin-top: 3em;
}

.hovers {
margin-top: 2em;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin-top: 3em;
}




.block1 {
background-color: var(--orange);
width: 3em;
text-align: center;
padding: 1em;
width: 10em;
transition: 0.5s;
}

.block1:hover {
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}

.block2 {
background-color:var(--red);
text-align: center;
padding: 1em;
width: 10em;
transition: 0.5s;
}

.block2:hover {
-o-transform: translateX(20px);
-ms-transform: translateX(20px);
-moz-transform: translateX(20px);
-webkit-transform: translateX(20px);
transform: translateX(20px);
}

.block3 {
background-color:var(--blue);
text-align: center;
padding: 1em;
width: 10em;
transition: 0.5s;
}

.block3:hover {
-o-transform: scaleX(-1);
-ms-transform: scaleX(-1);
-moz-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
}

.block4 {
background-color:var(--gray);
text-align: center;
padding: 1em;
width: 10em;
transition: 0.5s;
}

.block4:hover {
-o-transform: rotateX(180deg);
-moz-tranform: rotateX(180deg);
-webkit-transform: rotateX(180deg);
-ms-transform: rotateX(180deg);
transform: rotateX(180deg);
}

.block5 {
background-color: greenyellow;
text-align: center;
padding: 1em;
width: 10em;
transition: 0.5s;
}

.block5:hover {
background-color: rgb(132, 196, 36);
}

.block6 {
background-color: burlywood;
text-align: center;
padding: 1em;
width: 10em;
transition: 0.5s;
}

.block6:hover {
background-color: rgb(184, 152, 110);
}