body{
    font-family: "montserrat";
    margin: 0;
    padding: 0;

}
.container{
   display: grid;
   background: #151726;
   color:aliceblue;
   text-align: center;
   
}
a{
    text-decoration: none;
}
.progress-title{
    width: 100%;
    height: auto;
}
.progress-title h3{
    font-size: 18px;
    font-weight: 700;
    color:#fff;
    margin:0 0 20px;

}
.progress{
    height: 20px;
    background: #171b3c;
    border-radius: 20px;
    border: 1px solid #000;
    box-shadow: 0 2px 2px #4f4c4c;
    margin-bottom: 40px;
    overflow: visible;
    position: relative;

}
.progress .progress-bar{
    border-radius: 20px;
    border: 1px solid #000;
    animation: animate-positive 2s;

}

@-webkit-keyframes animate-positive{
    0%{
        width: 0;
    }
}
@keyframes animate-positive{
    0%{
        width: 0;
    }
}
.card-bird{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin: 50px;
    color: #ef2d56;
    text-align: center;
    
}


footer{
    padding: 10px;
    margin-top: 20px;
    border-top: 1px solid #000;
    text-align: center;
}